.skillsPanelContainer__header {
    font-size: 14px;
    color: var(--color-text-primary);
    font-weight: 300;
    margin-bottom: 8px;
}

.skillsPanelContainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
   

}

.skillIcon {
    width: 30px;
    height: 30px;
}