.pageContainer {
  display: flex;
  justify-content: center;
  padding: var(--padding-page);
  gap: 20px;
  box-sizing: border-box;
  margin-top: 40px;
  align-items: flex-start;
}

@media (max-width: 1440px) {
  .pageContainer {
    padding-left: 40px;
    padding-right: 40px;
  }
}