.difficultyPanelContainer__header {
    font-size: 14px;
    color: var(--color-text-primary);
    font-weight: 300;
    margin-bottom: 8px;
}

.difficultyPanelContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}