.specializationPanelContainer {
    display: grid;
    max-width: 360px;
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
    max-height: 500px;
    overflow-y: auto;
}

.specializationPanelContainer__header {
    font-size: 14px;
    color: var(--color-text-primary);
    font-weight: 300;
    margin-bottom: 8px;
}

