.questionListContainer {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 860px; 
    background-color: white;
    gap: 24px;
    border: none;
    border-radius: 18px;
    padding: 20px;              
    box-sizing: border-box;
    position: relative;

}