.detailedLongAnswerContainer {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 860px; 
    background-color: var(--color-bg-card);
    gap: 24px;
    border-radius: var(--radius-2xl);
    padding: var(--padding-card);    
    font-weight: 500;
    font-size: 18px;      
    padding: 24px;    
}
